*~
.venv
venv
env
!.gitkeep
tmp
.DS_Store
.idea
*.log
*.map
*.pyc
*.h5
__pycache__/
data/
saved_models/
logs/
results/
images/
wandb/
gif_pics/
baselines/
babyai/
gym-minigrid/
procgen/
gym-minigrid/
rsync_exclude.txt
src/
figures/
cmds.txt
cmds/

nle/
nle_data/
/minihack/